h1{
    text-shadow: 3px 3px 5px #0064b2;
    color: #ffcc00;
    font-family: "pokemon solid.ttf";
    font-weight: bold;
    font-size: 500%;
}

fieldset{
    border: 1px solid black;
}



.fontsize{
    font-size: 60%;
}

body{
    background-color: #515b7b;
    color: white;
}

nav{
    background-color: #495371;
    color: white;
}

.card{
    background-color: #6e7dab;
    color: white;
}

.list-group-item{
    background-color: #66739a;
    color: white;
}